# Importing libraries

In [1]:
#Import libraries 
import pandas as pd
import numpy as np
import os

In [4]:
#Import products 
path = r'/Users/buketoztekin/Documents/Instacart Basket Analysis/'
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## Step 3. Importing the merged data

In [5]:
#Import orders_products_combined
file_path = os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl')
df_orders_products_combined = pd.read_pickle(file_path)

## Step 4. Checking the dimensions

In [6]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [8]:
df_orders_products_combined.shape

(32434489, 12)

df_orders_products_combined shape is the same as df_merged_large.shape result.

In [9]:
df_prods.shape

(49672, 6)

## Step 5. Determine a suitable way to combine

We can combine both dataframes on product_id variable.

## Step 6. Merging the dataframes

In [12]:
#Merging df_prods and df_orders_products_combined
df_merged_large2 = df_prods.merge(df_orders_products_combined, on='product_id', indicator='merge_indicator')

## Step 7. Confirming the results

In [13]:
#Checking the number of rows
df_merged_large2['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
df_merged_large2.shape

(32404859, 18)

In [21]:
df_merged_large2 = df_merged_large2.rename(columns={'order_dow': 'order_day_of_week'})
df_merged_large2 = df_merged_large2.drop(columns=['eval_set'])

In [22]:
df_merged_large2.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,7.0,10,0,both,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,both

## Step 7. Exporting data

In [23]:
df_merged_large2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))